<% provide(:title, "ホーム") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1 class="display-1">Nagasaki</h1>
      <h1 class="display-1">Nagasaki</h1>
      <%= link_to "ユーザー登録", "#", class: "btn btn-lg w-100 btn-outline-info" %>
      <%= link_to "長崎県すべて" , "#", class: "p-3" %>
      <%= link_to "長崎市" ,   "#", class: "p-3" %>
      <%= link_to "佐世保市" , "#", class: "p-3" %>
      <%= link_to "時津・長与・西海" , "#", class: "p-3" %>
      <%= link_to "大村・諫早" , "#", class: "p-3" %>
      <%= link_to "雲仙・島原・南島原" , "#", class: "p-3" %>
      <%= link_to "平戸・松浦" , "#", class: "p-3" %>
      <%= link_to "波佐見・川棚" , "#", class: "p-3" %>
      <%= link_to "五島" , "#", class: "p-3" %>
      <%= link_to "壱岐・対馬" , "#", class: "p-3" %>
    </div>
    <div class="col-sm"></div>
  </div>
</div>