<% provide(:title, "お店一覧") %>

<% if user_signed_in? %>
  <%= link_to "+新規登録", new_restaurant_path, class: "btn  btn-info" %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-xs-12 rounded">
      <div class="bg-white rounded">
        <%= form_with(scope: :search, url: restaurants_path, method: :get, local: true) do |f| %>
          <div class="field">
            <%= f.label :area_id, "地域" %>
            <%= f.collection_select(:area_id, Area.all, :id, :areas_name,{selected: @search_params[:area_id], include_blank: "指定なし"}, {class: 'form-control'}) %>
          </div>
          <div class="field">
            <%= f.label :restaurant_type_id, "ジャンル" %>
            <%= f.collection_select(:restaurant_type_id, RestaurantType.all, :id, :name,{selected: @search_params[:restaurant_type_id], include_blank: "指定なし"}, {class: 'form-control'}) %>
          </div>
          <div class="field">
            <%= f.label :name, "お店の名前" %>
            <%= f.text_field :name, value: @search_params[:name], autocomplete: "name", class: 'form-control' %>
          </div>
          <%= f.submit "検索", class: "btn btn-info" %>
        <% end %>
      </div>
      <div class="card-deck">
        <% @restaurants.each do |restaurant|%>
        <div class="card h-100" style="min-width: 250px; max-width: 250px;">
          <a href="/restaurants/<%= restaurant.id%>" class="text-dark">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
            <div class="card-body">
              <h5 class="card-title"><%= restaurant.name %></h5>
                <p class="card-text"><%= restaurant.restaurant_type.name %></p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </a>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 col-xs-12 rounded">
    <%# マップ %>
    </div>
  </div>
</div>