<% provide(:title, "お店一覧") %>

<h4 class="display-4 text-light text-center">お店一覧</h4>

<% if user_signed_in? %>
  <%= link_to "+お店の情報登録", new_restaurant_path, class: "btn  btn-info", target: "_blank", rel: "noopener noreferrer"%>
<% end %>

<div class="container-fluid">
  <div class="row mb-20 mt-10">
    <div class="col-lg-12 col-xs-12">
      <div class="bg-white rounded pd-20">
        <%= form_with(scope: :search, url: restaurants_path, method: :get, local: true) do |f| %>
        <div class="col-lg-8 col-xs-12">
          <div class="field">
            <%= f.label :area_id, "地域" %>
            <%= f.collection_select(:area_id, Area.all, :id, :areas_name,{selected: @search_params[:area_id], include_blank: "指定なし"}, {class: 'form-control'}) %>
          </div>
          <div class="field">
            <%= f.label :restaurant_type_id, "ジャンル" %>
            <%= f.collection_select(:restaurant_type_id, RestaurantType.all, :id, :name,{selected: @search_params[:restaurant_type_id], include_blank: "指定なし"}, {class: 'form-control'}) %>
          </div>
          <div class="field">
            <%= f.label :name, "お店の名前" %>
            <%= f.text_field :name, value: @search_params[:name], autocomplete: "name", class: 'form-control' %>
          </div>
        </div>
          <div class="text-center">
            <%= button_tag type:"submit", class: "btn btn-info w-25" do %>
            検索<%= content_tag :i, "search", class: "material-icons search-icon" %><% end %>

          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="bg-white rounded col-lg-4 mb-20 text-center pd-10">
    <h5 class="h5">検索結果：<%= @restaurants.total_count%>件</h5>
    </div>
    <div class="col-lg-4">
    </div>
  </div>
  
  <div class="row">
    <div class="bg-white rounded col-xl-6 col-xs-12 pd-20 mb-20">
      <% if @restaurants.count > 0 %>
        <div class="row row-cols-1 row-cols-md-2">
          <% @restaurants_number = 0 %>
          <% @restaurants.each do |restaurant|%>
            <div class="col mb-4">
              <div class="card h-100">
                <a href="/restaurants/<%= restaurant.id%>" class="text-dark no-decoration" target="_blank" rel="noopener noreferrer">
                  <div class="card-header">
                    <h5 class="h5" id="restaurant_name<%= @restaurants_number%>"><%= restaurant.name %></h5>
                  </div>
                  <% restaurant.posts.shuffle.each do |post| %>
                    <% next if post.user.release = false%>
                    <% if post.images.count > 0 %>
                      <%= image_tag post.images.sample, class: 'card-img-top' %>
                      <% break %>
                    <% end %>
                  <% end %>

                  <div class="card-body">
                    <% if restaurant.posts.count > 0 %>
                      <h5><span class="badge badge-success">評価：<%= restaurant.point %>  <span class="badge badge-pill badge-light"><%= restaurant.posts.count %></span></span></h5>
                    <% else %>
                      <h5><span class="badge badge-success">評価：なし  <span class="badge badge-pill badge-light"><%= restaurant.posts.count %></span></span></h5>
                    <% end %>
                    <%= image_tag "red#{@restaurants_number + 1}.png" %>
                    <p class="card-text"><%= restaurant.restaurant_type.name %></p>
                    <small class="text-muted"><%= restaurant.area.areas_name %></small>
                    <p class="card-text" id="address<%= @restaurants_number%>"><%= restaurant.address %></p>
                    <input type="hidden" value="<%= restaurant.latitude %>" id="latitude<%= @restaurants_number %>">
                    <input type="hidden" value="<%= restaurant.longitude %>" id="longitude<%= @restaurants_number %>">
                    <% @restaurants_number += 1 %>
                  </div>
                </a>
              </div>
            </div>
          <% end %>
          
        </div>
      <% else %>
        <h5 class="text-center">条件に合うお店がありません。</h5>
      <% end %>
    </div>
    <input type="hidden" value="<%= Restaurant::GMAP_DEF_LAT%>" id ="gmap_def_lat">
    <input type="hidden" value="<%= Restaurant::GMAP_DEF_LNG%>" id ="gmap_def_lng">
    <input type="hidden" value="<%= @restaurants.count %>"      id ="restaurants_count">
    <div class="col-xl-6 col-xs-12 mb-20">
        <div class="gmap-index sticky gmap-target">
            <button type="button" id="gps_fixed" class="btn btn-light gps_fixed">
              <i class="material-icons">gps_fixed</i>
            </button>
            <div id="map_canvas">
            </div>
            
        </div>

        <%= javascript_pack_tag 'home/restaurants/index_map' %>
    
    </div>
  
  </div>
  <div class="row">

      <div class="col-lg-12 col-xs-12">
        <%= paginate @restaurants %>
    </div>
  </div>
</div>