<% provide(:title, "お店の情報登録") %>
<h4 class="display-4 text-light text-center">お店の情報登録</h4>
<div class="container-fluid">
  <%= form_with(model: @restaurant, local: true ) do |f| %>
    <div class="row">
      <div class="col-lg-6 col-xs-12 bg-white rounded pd-20 mb-10">
        <%= render 'shared/error_messages', object: f.object %>

        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
          <%= render 'shared/error_message_detail',{object: f.object, target: :name} %>
        </div>

        <div class="field">
          <%= f.label :restaurant_type_id %>
          <%= f.collection_select(:restaurant_type_id, RestaurantType.all, :id, :name,{prompt: "選択してください"}, {class: 'form-control'}) %>
          <%= render 'shared/error_message_detail',{object: f.object, target: :restaurant_type_id} %>
        </div>

        <div class="field">
          <%= f.label :area_id %>
          <%= f.collection_select(:area_id, Area.all, :id, :areas_name,{prompt: "選択してください"}, {class: 'form-control'}) %>
          <%= render 'shared/error_message_detail',{object: f.object, target: :area_id} %>
        </div>

        <div class="field">
          <%= f.label :tel %> <em>(ハイフン不要)  ※必須</em>
          <%= f.telephone_field :tel, autocomplete: "tel", class: 'form-control' %>
          <%= render 'shared/error_message_detail',{object: f.object, target: :tel} %>
        </div>

        <div class="field">
          <%= f.label :url %>
          <%= f.url_field :url, autocomplete: "url", class: 'form-control' %>
          <%= render 'shared/error_message_detail',{object: f.object, target: :url} %>
        </div>

        <div class="field">
          <%= f.label :address %>
            <div class="col-sm-10 btn-group btn-group-toggle  mb-10 mt-20" data-toggle="buttons">
              <form id="radioGroup">
                <label class="btn btn-outline-secondary active" style="width:30%">
                  <%= f.radio_button :address_select, 0, {checked: true ,id: "textimput"}%>住所を入力
                </label>
                <label class="btn btn-outline-secondary" style="width:30%">
                  <%= f.radio_button :address_select, 1, {id: "present_ocation"} %>現在地から登録
                </label>
                <label class="btn btn-outline-secondary" style="width:30%">
                  <%= f.radio_button :address_select, 2, {id: "google_map"} %>マップから登録 
                </label>
              </form>
            </div>          
          <%= f.text_field :address, autocomplete: "address", class: 'form-control', id:"address" %>
          <%= render 'shared/error_message_detail',{object: f.object, target: :address} %>
        </div>
          <%# <div class="form-check">
            <input class="form-check-input" type=”radio” name="address_select" id="textimput" checked>
            <label class="form-check-label" for="textimput">
                住所を入力して登録
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type=”radio” name="address_select" id="present_ocation" >
            <label class="form-check-label" for="present_ocation">
                現在地から登録
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type=”radio” name="address_select" id="google_map" >
            <label class="form-check-label" for="google_map">
                マップから登録
            </label>
          </div> %>
          
          <%= f.hidden_field :gmap_def_lat, value: Restaurant::GMAP_DEF_LAT ,id: "gmap_def_lat" %>
          <%= f.hidden_field :gmap_def_lng, value: Restaurant::GMAP_DEF_LNG ,id: "gmap_def_lng" %>
          
          <div class="gmap ">
            <div id="target"></div>
          </div>
          <script
            src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyCi_3RzETS7tHokVtKrb2wpoHC7ovon2IE&callback=initMap"
            async defer>
          </script>
          <script>
            function initMap() {
                "use strict";
                var target = document.getElementById("target");
                var geocoder = new google.maps.Geocoder();
                var textimput = document.getElementById("textimput");
                var present_ocation = document.getElementById("present_ocation");
                var google_map = document.getElementById("google_map");
                var googlemaker = null;

                // イベント
                textimput.addEventListener('click', (event) => {
                  RadioButtonChanged();
                });
                present_ocation.addEventListener('click', (event) => {
                  RadioButtonChanged();
                });
                google_map.addEventListener('click', (event) => {
                  RadioButtonChanged();
                });


                // Map初期設定
                  let def_lat = Number(document.getElementById("gmap_def_lat").value);
                  let def_lng = Number(document.getElementById("gmap_def_lng").value);
                  let restaurantmap = new google.maps.Map(target, {
                      center: {
                        lat: def_lat,
                        lng: def_lng
                      },
                      zoom: 17
                    });


                //　住所があればGoogleMap表示
                if (document.getElementById("address").value !== "") {
                  getAddressToMove();
                };

            
                // Mapクリックイベント
                restaurantmap.addListener('click', function(e) {
                geocoder.geocode({
                  location: e.latLng
                }, function(results, status) {
                  if (status !== 'OK') {
                    alert('マップの取得に失敗しました。: ' + status);
                    document.getElementById('target').innerText ="地図情報が取得できません。1";
                    return;
                  }
                  // アイコンクリア
                  if (googlemaker !== null){
                    googlemaker.setMap(null);
                  };
                  // results[0].formatted_address
                  if (results[0]) {
                    googlemaker = new google.maps.Marker({
                      position: e.latLng,
                      map: restaurantmap,
                      title: results[0].formatted_address,
                      animation: google.maps.Animation.DROP
                    });
                    console.log("setaddress");
                    document.getElementById('address').value = results[0].formatted_address;
                    // document.getElementById('address').value = results[0].address_components[0].types["sublocality", "political"];
                  } else {
                    arert("マップが見つかりませんでした。");
                    document.getElementById('target').innerText ="地図情報が取得できません。2";
                    return;
                  }
                });
              });
            };


                //RadioButtonChangeイベント
                function RadioButtonChanged(){

                  // let textimput = document.getElementById("textimput");
                  // let present_ocation = document.getElementById("present_ocation");
                  // let google_map = document.getElementById("google_map");
                  // textエリア選択時

                  if (textimput.checked){
                      console.log("1");
                      document.getElementById("address").disabled = false;
                  };
                  //現在地選択時
                  if (present_ocation.checked){
                    console.log("2");
                    if (!navigator.geolocation) {
                      alert('GoogleのGeolocationサービスが使用できません。');
                      textimput.checked = true;
                      return;
                    }
                      document.getElementById("address").disabled = true;
                      getPresentOcation(); //現在地を取得
                  };
                  // GoogleMap選択時
                  if (google_map.checked){
                      document.getElementById("address").disabled = true;
                      if (document.getElementById("address").value !== "") {
                        getAddressToMove(); //入力された住所へ移動
                      };
                  };

                };

                // 現在地を取得
                function getPresentOcation(){
                  navigator.geolocation.getCurrentPosition(function(position) {
                    let lat = position.coords.latitude;
                    let lng =  position.coords.longitude;
                    let latlng = {lat: lat, lng: lng};
                    
                    // let restaurantmap = new google.maps.Map(target, {
                    //   center: {
                    //     lat: lat,
                    //     lng: lng
                    //   },
                    //   zoom: 17
                    // });
                    restaurantmap.setCenter(new GLatLng(lat,lng))
                    var marker = new google.maps.Marker({
                          position: latlng,
                          map: restaurantmap,
                          animation: google.maps.Animation.DROP
                          });
                  }, function() {
                    alert('現在地が取得できませんでした。');
                    present_ocation.checked = false;
                    textimput.checked = true;
                    document.getElementById("address").disabled = false;
                    return;
                  });



                // 住所からGoogoleMap更新
                function getAddressToMove(){
                  geocoder.geocode(
                    {
                      address: document.getElementById("address").value
                    },
                    function (results, status) {
                      if (status !== "OK") {
                        alert("マップの取得に失敗しました。: " + status);
                        document.getElementById('target').innerText ="地図情報が取得できません。3";
                        return;
                      }
                      console.log("beforeset");
                      // results[0].geometry.locationに緯度経度の情報が入ってくる
                      if (results[0]) {
                        let location = results[0].geometry.location;
                        // let restaurantmap = new google.maps.Map(target, {
                        //   center: location,
                        //   zoom: 17,
                        // });
                        // 緯度経度の情報をハッシュに変換
                        let lat = location.lat();
                        let lng =  location.lng();
                        let latlng = {lat: lat, lng: lng};
                        
                        restaurantmap.setCenter(new GLatLng(lat,lng))
                        var marker = new google.maps.Marker({
                          position: latlng,
                          map: restaurantmap,
                          animation: google.maps.Animation.DROP
                          });

                      } else {
                        arert("マップが見つかりませんでした。");
                        document.getElementById('target').innerText ="地図情報が取得できません。4";
                        return;
                      }
                    }
                  );
                };
              };
          </script>



        <div class="actions text-center">
          <%= f.submit "お店の情報登録", class: "btn btn-info w-75" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "戻る", :back, class: 'text-light' %>