<% provide(:title, "お店の情報") %>

<h4 class="display-4 text-light text-center">お店の情報</h4>

<% if user_signed_in? %>
  <%= link_to "お店情報の変更", edit_restaurant_path, class: "btn  btn-info" %>
<% end %>

<div class="container-fluid">
  <div class="row mt-20">
    <div class="col-lg-6 col-xs-12">
      <div class="bg-white rounded pd-20 mb-20">
        <h3 class="h3">お店の名前</h3>
        <p id="restaurant_name"><%= @restaurant.name%></p>
        <h3 class="h3">ジャンル</h3>
        <p><%= @restaurant.restaurant_type.name%></p>
        <h3 class="h3">電話番号</h3>
        <p><%= @restaurant.tel%></p>
        <h3 class="h3">URL</h3>
        <%= link_to @restaurant.url, @restaurant.url, target: :_blank, rel: "noopener noreferrer" %>
        <h3 class="h3">地域</h3>
        <p><%= @restaurant.area.areas_name%></p>
        <h3 class="h3">住所</h3>
        <p id="address"><%= @restaurant.address%></p>
      </div>
    </div>
    <div class="col-lg-6 col-xs-12">
      <div class="bg-white rounded pd-20 mb-20">

        <% index = 0 %>
        <% @restaurant.posts.each_with_index do |post| %>
          <% next if post.user.release = false%>
          <% if post.images.count > 0 %>
            <% if index == 0 %>
              <div id="carouselExampleFade" class="carousel slide carousel-fade w-75 mx-auto" data-ride="carousel">
                <div class="carousel-inner">
            <% end%>
              <% post.images.each do |image|%>
                <% if index == 0%>
                  <div class="carousel-item active">
                <% else %>
                  <div class="carousel-item">
                <% end %>
                <%= image_tag image , class: "d-block w-100", alt: "#{index} slide" %>
                <% index += 1%>
                  </div>
              <% end %>
          <% end %>
        <% end %>
        <% if index != 0 %>
                </div>
              </div>
        <% else %>
          <h5 class="h5 text-center">画像がありません。</h5>
        <% end %>


      </div>
    </div>
  </div>
  <input type="hidden" value="<%= @restaurant.latitude%>" id ="latitude">
  <input type="hidden" value="<%= @restaurant.longitude%>" id ="longitude">
  <div class="row mt-20">
    <div class="col-xl-12">
        <div class="gmap">
          <button type="button" id="gps_fixed" class="btn btn-light gps_fixed">
            <i class="material-icons">gps_fixed</i>
          </button>
          <div id="map_canvas" class="gmap-target">
          </div>
        </div>
        <%= javascript_pack_tag 'home/restaurants/show_map' %>
    </div>
  </div>
  
  <% if user_signed_in? && !@restaurant.posts.exists?(user_id: current_user.id) %>
      <%= link_to "+コメントの新規登録", new_post_path(restaurant_id: @restaurant.id), class: "btn  btn-info" %>
  <% end %>
  <% if user_signed_in?	%>
    <% @restaurant.posts.each do |post| %>
      <% if current_user.id = post.user_id %>
        <div class="row mt-20">
          <div class="col-xl-12">
            <div class="bg-white rounded pd-20 mb-5">
              <%= link_to post.user.name, post_path(post_id: post.id)%>
              <h5><span class="badge badge-success">評価：<%= score_average(post.atmosphere, post.accessibility, post.cost_performance, post.assortment, post.service, post.delicious)%></span></h5>
              <p><%=post.comment.truncate(100, omission: '...')%></p>
              <%= link_to "コメントの編集", edit_post_path(post_id: post.id), class: "btn  btn-info" %>
              <%= link_to "コメントの削除", post_path(post_id: post.id), method: :delete,
                                            data: { confirm: "コメントの削除をしてよいですか？" }, class: "btn  btn-info" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% @restaurant.posts.each do |post| %>
      <% if post.user.release = true && current_user.id != post.user_id %>
        <div class="row mt-20">
          <div class="col-xl-12">
            <div class="bg-white rounded pd-20 mb-5">
              <%= link_to post.user.name, post_path(post_id: post.id)%>
              <h5><span class="badge badge-success">評価：<%= score_average(post.atmosphere, post.accessibility, post.cost_performance, post.assortment, post.service, post.delicious)%></span></h5>
              <p><%=post.comment.truncate(100, omission: '...')%></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <% @restaurant.posts.each do |post| %>
      <% if post.user.release = true%>
        <div class="row mt-20">
          <div class="col-xl-12">
            <div class="bg-white rounded pd-20 mb-5">
              <%= link_to post.user.name, post_path(post_id: post.id)%>
              <h5><span class="badge badge-success">評価：<%= score_average(post.atmosphere, post.accessibility, post.cost_performance, post.assortment, post.service, post.delicious)%></span></h5>
              <p><%=post.comment.truncate(100, omission: '...')%></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>